.App {
  text-align: center;
  /* background-color: #282c34 */
}

html {
  /* background-color: #282c34; */
}


.App-header {
  /* background-color: #1b1e23; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


